<%- include('header.ejs') %> <!-- Correct -->


<h1>Isaac Newton</h1>
<p>Isaac Newton was an English mathematician, physicist, astronomer, and author widely recognized as one of the most influential scientists of all time.</p>
<ul>
  <li>Born: January 4, 1643</li>
  <li>Known for: Laws of Motion and Universal Gravitation</li>
  <li>Published: *Philosophiæ Naturalis Principia Mathematica*</li>
</ul>
